body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

#webcam-page {
    text-align: center;
}

#webcam-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#prediction-result {
    margin-top: 20px;
    text-align: left;
}

#loading-text {
    font-style: italic;
    margin-top: 10px;
}
